.top-gift-btn{
    background: #FFF544;
    text-decoration:none;
    padding:10px 15px;
    color:#000000;
    display:flex;
    align-items: center;
}
.top-gift-btn span{
padding:2px 10px;
}

@media screen and (min-width: 990px) {
    .header--middle-left {
         grid-template-columns: 1fr auto 1fr !important;
       }
}
.top-gift-bar span{
font-weight: 400;
font-style: Regular;
font-size: 16px;
line-height: 13.42px;
}